.idea
target/
*.onnx
*.onnx.*
tokens.txt
.DS_Store
venv/
vits-piper*
sherpa-onnx/
*.wav
*.vocab
!samples/*.wav
*.bz2
sherpa-onnx-whisper*
sherpa-onnx-pyannote-*
sherpa-onnx-zipformer-*
sherpa-onnx-moonshine-*
*.txt
!checksum.txt
sherpa-onnx-v*
jniLibs
sys/src/bindings.rs
!sys/dist.txt
sherpa-onnx-punct*
vits-*
sherpa-onnx-kws-*
.tmp/
jniLibs/
build/
kokoro-en-*/
matcha-*
crates/sherpa-rs-sys/sherpa-onnx/scripts/
kokoro-multi-lang-v1_0/
kitten-nano-en-*/
